/********************
GLOBAL LAYOUT SET-UP
*********************/
* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    background: #131c23;
}


/********************
LINK STYLES
*********************/

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #6633ff;
}


/********************
SECTION STYLES
*********************/

.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    }

.nav .name {
    font-family: 'Rock Salt', sans-serif;
    display: block;
    margin-right: auto;
    color: white;
    transition: all 1s;
}

.nav .name:hover {
    color: red;
    transform: scale(1.2) rotate(360deg);
}
.nav li {
    padding: 5px 10px 10px 10px;
}

.nav .ui {
    padding: 20px 10px 0 10px;
}

.nav a {
    transition: all .5s;
}
.nav a:hover {
    color: white
}

.nav a.selected {
    color: #fff;
}

header {
    text-align: center;
    background: url('../img/animecity.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}
header {
    line-height: 1.5;
}

header .profile-image {
    filter: grayscale(100%); 
    margin-top: 50px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 3px solid #dfdce7;
    transition: all 0.75s;
}

header .profile-image:hover {
    filter: grayscale(0%);
    transform: scale(1.2) rotate(5deg);
    border: 3px solid #4b2d2f;
}

.tag {
    background: rgba(0, 0, 0, 0.85);
    color: #ffb286;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.25em;
} 

.tag:hover {
    background: rgba(0, 0, 0, 0.95);
    transform: scale(1.2);
}

.location {
    background: rgba(0, 0, 0, 0.85);
    font-family: 'Ubuntu', sans-serif;
    color: #415730;
}
 
.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #0d161f;
    border-bottom: 4px solid #415730;
    border-radius: 6px;
    transition: all .5s;
    color: #ccc;
}
 
.card:hover {
    border-color: #415730;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #0399ff;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
    color: #ccc;
}

footer .copyright {
    top: -8px;
    font-size: .75em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}
 
a.twitter {
    background-image: url(../img/twitter.svg);
}

a.github {
    background-image: url(../img/github.svg);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}


/********************
PAGE: GALLERY
*********************/

div.img {
    display: inline-block;
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 100%;
    background: #0d161f;
    border-bottom: 4px solid #415730;
    border-radius: 6px;
    transition: all .5s;
    text-align: left;
    color: #fff;
}

div.img img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

div a img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}

ul.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.gallery li {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    width: 45%;
    margin: 2.5%;
}


/********************
PAGE: CONTACT
*********************/

div.contact {
    display: inline-block;
    margin: 30px;
    padding: 20px 40px 40px;
    background: #0d161f;
    background-image: url(https://media.giphy.com/media/gj1AnWz7dut3i/giphy.gif);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 98% 95%;
    border-bottom: 4px solid #415730;
    border-radius: 6px;
    text-align: left;
    color: #fff;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    color: #fff;
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}


/********************
RESPONSIVE STYLES
*********************/

@media screen and (min-width: 560px) and (max-width: 720px) {
    
.card {
    margin: 30px auto;
    }
}

@media screen and (min-width: 720px) {

.flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
}

header {
    min-height: 470px;
}

.nav {
    max-width: 1200px;
    padding: 0 30px;
}


main {
    padding-top: 20px;
}

main p {
    line-height: 1.6em;
}


footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
}

ul.gallery li {
    width: 28.3333%;
    }
}